<h1>Your Reservations</h1>

<table>
  <thead>
    <tr>
      <th>Room</th>
      <th>Check-in</th>
      <th>Check-out</th>
      <th>People</th>
    </tr>
  </thead>
  <tbody>
    <% @reserves.each do |reserve| %>
      <tr>
        <td><%= link_to reserve.room.name, room_path(reserve.room) %></td>
        <td><%= reserve.check_in %></td>
        <td><%= reserve.check_out %></td>
        <td><%= reserve.people %></td>
      </tr>
    <% end %>
  </tbody>
</table>
