/* sessions/new */
/* フォーム全体のスタイル */
h2{
    text-align: center;
    font-size: 24px;
}

.login form {
    width: 100%; /* フォーム全体の幅を調整（100%で親要素にフィット） */
    max-width: 600px; /* 最大幅を設定 */
    margin: 0 auto; /* フォームを中央に配置 */
    margin-top: 150px;
    padding: 20px; /* 内側の余白 */
    background-color: white; 
    border-radius: 8px; /* 角を丸く */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* 影 */
}

  /* 入力フィールドのスタイル */
input[type="email"],input[type="password"],input[type="text"] {
    width: 95%; 
    padding: 10px; /* 内側の余白 */
    font-size: 16px; 
    border: 1px solid #ccc; /* 枠線の色 */
    border-radius: 5px; /* 角を丸く */
    margin-top: 10px;
    margin-bottom: 15px; /* 下に余白 */
}

  /* 入力フィールドにフォーカスが当たったときのスタイル */
input[type="email"]:focus,input[type="password"]:focus,input[type="text"]:focus {
    border-color: #007BFF; /* フォーカス時に枠線を青色に */
    outline: none; /* フォーカス時のアウトラインを非表示 */
}

  /* サブミットボタンのスタイル */
input[type="submit"] {
    width: 100%; /* 幅を100%に設定 */
    padding: 12px; /* 内側の余白 */
    background-color: #ff7757; /* ボタンの背景色 */
    color: white; /* 文字色 */
    font-size: 16px; /* 文字サイズ */
    border: none; /* 枠線なし */
    border-radius: 5px; /* 角を丸く */
    margin-top: 20px;
}

  /* サブミットボタンにホバーしたときのスタイル */
input[type="submit"]:hover {
    cursor: pointer; /* カーソルをポインターに */
}

.login_form{
    width: 100%; /* 幅を100%に設定 */
    display: inline-flex; /* Flexboxを有効にする */
    align-items: center;  /* 縦方向の中央揃え */
    justify-content: center; /* 横方向の中央揃え */
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    border-radius: 5px; /* 角を丸くする */
    border: 1px solid rgba(0,0,0,0.2);
    margin-top: 20px;
    margin-bottom: 20px;
}

.login_form a{
    color:#6a6a6a;
    text-decoration: none; /* リンクの下線を消す */
}

.login_form :hover{
    cursor: pointer; /* カーソルをポインターに */
}

/* エラーメッセージ */
.error_explanation{
    color: red;
    font-weight: bold;
}

.alert{
    color: blue;
    margin-top: 20px;
    text-align:center;
}